body {
    font-family: Arial, sans-serif;
    background: #222;
    color: #eee;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.status {
    padding: 10px;
    margin: 20px auto;
    width: 200px;
    border-radius: 5px;
}

.connected {
    background: #2ecc71;
}

.disconnected {
    background: #e74c3c;
}

#log {
    width: 90vw;
    height: 400px;
    margin: 30px 10px 10px;
    padding: 10px;
    background: #111;
    border: 1px solid #555;
    border-radius: 5px;
    overflow-y: scroll;
    font-family: monospace;
    font-size: 14px;
    color: #eee;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: center;
}

th {
    background-color: #585858;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #4a4a4a;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #ff9393;
}

.close:hover {
    color: #ff2c2c;
}

button {
    padding: 8px 16px;
    cursor: pointer;
}

.log-system {
    color: #888;
    border-color: #888;
}

.log-info {
    color: #0af;
    background: rgba(0, 170, 255, 0.08);
    border-color: #0af;
}

.log-in {
    color: #0c0;
    border-color: #0c0;
}

.log-out {
    color: #fa0;
    border-color: #fa0;
}